/m4
/autom4te.cache
Makefile
Makefile.in
/aclocal.m4
/config.guess
/config.log
/config.status
/config.sub
/configure
/src/.deps
/src/.libs
/src/*.la
/src/*.lo
/src/*.o
/depcomp
/install-sh
/libtool
/ltmain.sh
/puMet.pc
/missing
/debian/metlibs-pumet-dev.debhelper.log
/debian/metlibs-pumet-dev.substvars
/debian/metlibs-pumet-dev
/debian/files
/test/gtest/*.o
/test/gtest/lib*.a
/src/check-symbolMaker

